<div id="pagepiling" class="css06E7ED53061BEAF8">
  <div class="section">
    <h2 class="section__title">怎么办</h2>
    <p class="section__content">456啊</p>
    <p class="section__content">我开始做了一场中土世界的梦：</p>
    <p class="section__content">我是夏尔的巴金斯老爷</p>
    <p class="section__content">一天我坐在山丘小窝里</p>
    <p class="section__content">甘道夫带着我最喜欢的烟草</p>
    <p class="section__content">我邀他和我一起在炉边烤火</p>
  </div>
  <div class="section">
    <h2 class="section__title">怎么办</h2>
    <p class="section__content">自由的456啊</p>
    <p class="section__content">他告诉我</p>
    <p class="section__content">有一场危险冒险，希望我能参与</p>
    <p class="section__content">我是一个那么怕死的矮人哦</p>
    <p class="section__content">为什么我却激动的站了起来</p>
    <p class="section__content">来不及和村里的人们告别</p>
    <p class="section__content">就踏上了出乡的小路</p>
  </div>
  <div class="section">
    <h2 class="section__title">怎么办</h2>
    <p class="section__content">可爱的456啊</p>
    <p class="section__content">我多么想学会表达</p>
    <p class="section__content">表达模糊的那些思绪</p>
    <p class="section__content">但我就像大黄蜂</p>
    <p class="section__content">失去了发声器</p>
    <p class="section__content">只能靠着别人的片语说着你对我，我对你</p>
    <p class="section__content">像三个月前，到现在</p>
  </div>
  <div class="section">
    <h2 class="section__title">怎么办</h2>
    <p class="section__content">迷人的456啊</p>
    <p class="section__content">我现在还不想，也不敢说出我「爱」你这些词</p>
    <p class="section__content">我想着，这太轻浮，这太浮夸</p>
    <p class="section__content">对于一个还不知道这是什么的狗</p>
    <p class="section__content">只敢用蓝天白云青山绿水…哦，还有！</p>
    <p class="section__content">那淡蓝的月光，星河荡漾的夜，白墙木色下的墨青竹绿</p>
    <p class="section__content">来得到一个你会喜欢的，你会期待的目光</p>
  </div>
  <div class="section">
    <h2 class="section__title">怎么办</h2>
    <p class="section__content">美丽的456啊</p>
    <p class="section__content">下面这几句是看来的</p>
    <p class="section__content">但就是想对你说：</p>
    <p class="section__content">出门前，我仔细回想</p>
    <p class="section__content">手机在手上，钥匙在书包里，手表在腕上</p>
    <p class="section__content">你在心里</p>
    <p class="section__content">真好，一样都不少</p>
  </div>
  <div class="section">
    <h2 class="section__title">怎么办</h2>
    <p class="section__content">遇见你是件多么不可思议的事情</p>
    <p class="section__content">而喜欢上你却又多么的自然</p>
    <p class="section__content">我以前着急</p>
    <p class="section__content">现在却庆幸，还好痴痴的等了</p>
    <p class="section__content">不痴，但是这是歌词里的句子，我不想改</p>
  </div>
  <div class="section">
    <h2 class="section__title">怎么办</h2>
    <p class="section__content">善良的456啊</p>
    <p class="section__content">我忽然多了一个生日</p>
    <p class="section__content">就在昨天，就在当时</p>
    <p class="section__content">我左手捧着13年来最不想放开的礼物呢</p>
    <p class="section__content">在湖滨树影旁，微微晚风下，赋予相思</p>
  </div>
  <div class="section">
    <h2 class="section__title">怎么办</h2>
    <p class="section__content">亲爱的456啊！</p>
    <p class="section__content">紧接着今天就是今天了</p>
    <p class="section__content">今天是你生日啊</p>
    <p class="section__content">你想要一所上海的大房子吗，好，我去捐精！</p>
    <p class="section__content">你想要一辆能装满家当的皮卡不带丘吗，好，我去捐精！</p>
    <p class="section__content">你想要看到长夜下幕布搬的极光吗，好！我去捐精</p>
  </div>
  <div class="section">
    <h2 class="section__title">怎么办</h2>
    <p class="section__content">456啊456啊456啊</p>
    <p class="section__content">我刚才想明白</p>
    <p class="section__content">我要给你的，是你，是你可以一直开心！</p>
  </div>
</div>